*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 1250px;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

.small-text{
    font-size: 14px;
}

.med-text{
    font-size: 32px;
}

.big-text{
    font-size: 45px;
}

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bold{
    font-weight: 900;
}

.line-height{
    line-height: 1.5em;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    height: 65vh;
    background-size: cover;
    position: relative;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

header{
    min-width: 1250px;
    height: 70px;
    padding-top: 20px;
}

nav{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

ul.logo img{
    width: 100px;
    vertical-align: middle;
}

nav ul{
    list-style-type: none;
    display: inline-block;
}

nav ul.top-menù li{
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

.top-menù{
    padding-right: 200px;
    padding-left: 150px;
}

.button-size{
    padding: 10px 20px;
    border-radius: 8em;
    display: inline-block;
}

#jumbo-content{
    width: 45%;
    min-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section#jumbo-content h1{
    padding-bottom: 40px;
}

section#jumbo-content p{
    padding-bottom: 20px;
}

section#jumbo-content li.bg-black{
    margin-left: 20px;
}

.row-container{
    border: 1px solid red;
    height: 65vh;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    position: relative;
    padding-top: 80px;
}

.img-study-group{
    border: 1px solid red;
    width: 50%;
    display: inline-block;
}

aside.img-study-group img{
    width: 100%;
}

.article h1{
    padding-bottom: 30px;
}

.article-rules{
    display: inline-block;
    border: 1px solid red;
    width: 35%;
    color: rgba(71, 68, 68, 0.918);
}

.article-right{
    position: absolute;
    right: 0;
}

.article-left{
    position: absolute;
    left: 0;
}